h3.h3 {
    text-align: center;
    margin: 1em;
    text-transform: capitalize;
    font-size: 1.7em;
}

.product-grid4,
.product-grid4 .product-image4 {
    position: relative
}

.product-grid4 {
    font-family: Poppins, sans-serif;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    transition: all .3s ease 0s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.product-grid4:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2)
}

.product-grid4 .product-image4 a {
    display: block
}

.product-grid4 .product-image4 img {
    width: 100%;
    height: auto
}

.product-grid4 .pic-1 {
    opacity: 1;
    transition: all .5s ease-out 0s
}

.product-grid4:hover .pic-1 {
    opacity: 0
}

.product-grid4 .pic-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s ease-out 0s
}

.product-grid4:hover .pic-2 {
    opacity: 1
}

.product-grid4 .social {
    width: 180px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s ease 0s
}

.product-grid4 .social li {
    display: inline-block;
    opacity: 0;
    transition: all .7s
}

.product-grid4 .social li:nth-child(1) {
    transition-delay: .15s
}

.product-grid4 .social li:nth-child(2) {
    transition-delay: .3s
}

.product-grid4 .social li:nth-child(3) {
    transition-delay: .45s
}

.product-grid4:hover .social li {
    opacity: 1
}

.product-grid4 .social li a {
    color: #222;
    background: #fff;
    font-size: 17px;
    line-height: 36px;
    width: 40px;
    height: 36px;
    border-radius: 2px;
    margin: 0 5px;
    display: block;
    transition: all .3s ease 0s
}

.product-grid4 .social li a:hover {
    color: #fff;
    background: #16a085
}

.product-grid4 .social li a:after,
.product-grid4 .social li a:before {
    content: attr(data-tip);
    color: #fff;
    background-color: #000;
    font-size: 12px;
    line-height: 20px;
    border-radius: 3px;
    padding: 0 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px
}

.product-grid4 .social li a:after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -22px;
    z-index: -1
}

.product-grid4 .social li a:hover:after,
.product-grid4 .social li a:hover:before {
    opacity: 1
}

.product-grid4 .product-discount-label,
.product-grid4 .product-new-label {
    color: #fff;
    /* background-color: #16a085; */
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 45px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 15px;
    transition: all .3s
}

.product-grid4 .product-discount-label {
    left: auto;
    /* right: 10px; */
    right: 0;
    /* background-color: #d7292a */
}

.product-grid4:hover .product-new-label {
    opacity: 0
}

.product-grid4 .product-content {
    padding: 15px;
}

.product-grid4 .title {
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 7px;
    transition: all .3s ease 0s;
    display: contents;
}

.product-grid4 .title a {
    color: #222
}

.product-grid4 .title a:hover {
    color: #16a085
}

.product-grid4 .price {
    /* color: #16a085; */
    font-size: 17px;
    font-weight: 700;
    margin: 0 2px 15px 0;
    display: block
}

.product-grid4 .price span {
    color: #909090;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    text-decoration: line-through;
    text-align: left;
    vertical-align: middle;
    display: inline-block
}

.product-grid4 .add-to-cart {
    border: 1px solid #e5e5e5;
    display: inline-block;
    padding: 10px 20px;
    color: #888;
    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;
    transition: all .3s
}

.product-grid4:hover .add-to-cart {
    border: 1px solid transparent;
    background: #16a085;
    color: #fff
}

.product-grid4 .add-to-cart:hover {
    background-color: #505050;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5)
}

@media only screen and (max-width:990px) {
    .product-grid4 {
        margin-bottom: 30px
    }
}

/* Hide the default checkbox */
.check-container input {
    visibility: hidden;
    cursor: pointer;
}

/* Create a custom checkbox */
.mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    /* background-color: lightgray; */
    background-color: transparent;
    border: 3px solid #ef5c06;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.check-container:hover input~.mark {
    background-color: lightgray;
    cursor: pointer;
}

.check-container input:checked~.mark {
    background-color: lightgray;
}

/* Create the mark/indicator (hidden when not checked) */
.mark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the mark when checked */
.check-container input:checked~.mark:after {
    display: block;
}

/* Style the mark/indicator */
.check-container .mark:after {
    /* left: 9px;
top: 5px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
transform: rotate(45deg); */
    transform: rotate(45deg) scale(1);
    left: 8px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid red;
    border-width: 0 2px 2px 0;
    border-radius: 0;
}

/**
*Pagination
*/
[data-pagination],
[data-pagination] *,
[data-pagination] *:before,
[data-pagination] *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
}

[data-pagination] {
    font-size: 8pt;
    line-height: 1;
    font-weight: 400;
    font-family: 'Open Sans', 'Source Sans Pro', Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    margin: 1em auto;
    text-align: right;
    transition: font-size .2s ease-in-out;
}

[data-pagination] ul {
    list-style-type: none;
    display: inline;
    font-size: 100%;
    margin: 0;
    padding: .5em;
}

[data-pagination] ul li {
    display: inline-block;
    font-size: 100%;
    width: auto;
    border-radius: 3px;
}

[data-pagination]>a {
    font-size: 140%;
}

[data-pagination] a {
    color: #777;
    font-size: 100%;
    padding: .5em;
}

[data-pagination] a:focus,
[data-pagination] a:hover {
    color: #f60;
}

[data-pagination] li.current {
    background: rgba(0, 0, 0, .1)
}

/* Disabled & Hidden Styles */
[data-pagination] .disabled,
[data-pagination] [hidden],
[data-pagination] [disabled] {
    opacity: .5;
    pointer-events: none;
}

@media (min-width: 350px) {
    [data-pagination] {
        font-size: 10pt;
    }
}

@media (min-width: 500px) {
    [data-pagination] {
        font-size: 12pt;
    }
}

@media (min-width: 700px) {
    [data-pagination] {
        font-size: 14pt;
    }
}

@media (min-width: 900px) {
    [data-pagination] {
        font-size: 12pt;
    }
}
.actor-img{
    /* width:234px; */
    height:156px !important;
}

/*Details page css*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}
.btn.btn-primary {
    background-color: #d1cbcb;
    border: none;
    width: 100%;
    height: 100%;
}
.btn.btn-primary span{
    color: rgb(87, 7, 7);
    font-size: 25px;
    box-shadow: none;
    text-shadow: 5px 5px 10px rgb(226, 148, 148);
    margin-left:200px;
}
.container {
    margin: 30px auto;
}
.c-green {
    color: rgb(232, 108, 20);
}
/* .container .card {
    width: 100%;
    background: #090909;
    border-radius: 1px;
} */

.box {
    height: 40px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #958888;
}
.actor-details-img{
     width:200px !important; 
     height:180px !important;
  
     
}
.card-details{
    height: 540px !important;
}
.card-body{
    height: 540px !important;
}
.btn-close{
    padding-right: 10px !important;
    padding-top: 2px !important;
    position: relative;
  
}

/**
* Filter
*/

/*age card css*/
.filters-selected {
    background-color: #42404024;
    /* width: 215px !important; */
    height: 30px !important;
    border-radius: 30px;
    padding: 0px 8px 0 0;
    margin-right: 5px;
}

.filters-selected label {
    padding: 5px;
}

.filters-selected .close-filter-btn {
    padding: 6px 0 6px 6px;
    position: relative;
    border-left: 1px solid #bba8a1;
    margin: 4px;
    color: #ef4909;
    cursor: pointer;
}
