*,
*::before,
*::after {
margin: 0;
padding: 0;
outline: none;
box-sizing: border-box;
}

/* Useful Classes */
.xy-center {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.transition {
transition: all 350ms ease-in-out;
}

.r-3-2 {
width: 100%;
/* padding-bottom: 66.667%; */
background-color: #ddd;
height: 280px;
/* max-height: 300px; */
}

#default-img {
width: 100%;
cursor: pointer;
height: 280px !important;
object-fit: contain;
}

/* .feature {
width: 270px;
margin: auto;
} */
.feature {
	/* width: 165px; */
	width: 215px;
	margin: auto;
	height: 210px;
}

.featured-item {overflow:hidden;}
.featured-item.landscape {max-width:200px; width:100%; height:auto;}
.featured-item.portrait { width:auto; height:226px; background-size: cover;
background-position: center;
}
/* max-height:200px; */
/* .main-img {
background-position: center center;
background-repeat: no-repeat;
border: 2px ridge black;
height: 229px;
width: 270px;
object-fit: contain !important;
} */
/* .main-img {
width: 200px;
height: 200px;
background: center;
background-size: cover;
} */

/* .main-img {
height: 0;
border: 1px dotted #c5c5c5;
background-size: cover;
height: 280px;
width: 270px;
background-size: 265px 285px;
background-repeat: no-repeat;
opacity: 0.8;
box-shadow: rgba(107, 105, 105, 0.35) 0px 5px 15px;
} */
/* .image-holder {
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
height: 98px;
} */
.image-holder {
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
border: 2px ridge black;
/* height: 108px; */
height: 75px;
width: 80px;
object-fit: contain !important;
}

/* Main Styles */
.gallery-wrapper {
position: relative;
overflow: hidden;
text-align: center;
/* margin-top: 50px; */
margin-top: 25px;
}

.gallery {
position: relative;
white-space: nowrap;
font-size: 0;
}

/* .item-wrapper {
cursor: pointer;
width: 23%;
display: inline-block;
background-color: white;
margin-right: 8px;
border: 1px dotted #c5c5c5;
} */
.item-wrapper {
    cursor: pointer;
    /* width: 30%; */
    display: inline-block;
    /* background-color: white; */
    margin-right: 10px;
    /* border: 1px dotted #c5c5c5; */
}
.gallery-item {
opacity: 0.5;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
/* height: 58px;
width: 60px;
background-size: 60px 58px; */
}

.gallery-item.active {
opacity: 1;
}

.controls {
font-size: 0;
border-top: none;
}

.move-btn {
display: inline-block;
width: 50%;
border: none;
color: #ccc;
background-color: transparent;
padding: 0.2em 1.5em;
}

.move-btn:first-child {
border-right: none;
}

.move-btn.left {
cursor: w-resize;
}

.move-btn.right {
cursor: e-resize;
}

/*Work reels*/
#work_reel1_img {
margin-top: 30px;
}
.act-btn {
cursor: pointer;
}
