.imgStyle {
    width: 85px;
    height: 80px;
    padding: 4px;
    object-fit: cover;
}

.mainImage {
    margin-right: 120px;
    margin-top: 5px;
    width: 100%;
    border: 1px solid black;
}

.divId {
    margin: 0 11px;
    display: inline-flex;
    /* width: 257px; */
    border: 1px solid #b3aeae;
    cursor: pointer;
    align-items: center;
}

.divId.imgStyle {
    display: flex;
    opacity: 0.4;
    transition: 0.4s;
    height: 100px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
}

/*Intro Video*/
.intro_video {
    margin-top: 74px;
}

/*Form text css*/
#popover-content {
    background: #f5f4f9;
}

.close-btn {

    position: absolute;
    /* You may need to change top and right. They depend on padding/widht of .badge */
    top: -10px;
    right: -10px;
    background: red;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}

.work-reels {
    margin-bottom: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.image-container {
    width: 308px !important;
    height: 650px !important;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 6px;
    gap: 10px;
    object-fit: contain;
    /* position: fixed; */
}

.main-image {
    overflow: hidden;
}

.main-image.landscape {
    max-width: 275px;
    width: 100%;
    height: auto;
}

.main-image.portrait {
    width: auto;
    height: 226px;
    background-size: cover;
    background-position: center;
}

.gallary-image img {
    display: block;
    /* box-shadow: 2px 2px 2px 1px rgb(87, 88, 88); */
    /* width: 330px !important;
object-fit: fill; */
    object-fit:cover;
}

.gallary-image img:hover {
    object-fit: cover;
    opacity: 0.9;
}

.card-left {
    width: 295px !important;
    overflow: hidden;
}

.main-image {
    display: flex;
    transition: all 0.5s ease;
}

.img-select {
    margin-top: 15px;
    height: 30px;
    width: 100px !important;
}

.img-select-container {
    border: 2px solid white;
}

.img-select-container img {
    width: 100% !important;
    display: inline-block;
}

.img-select-container img:hover {
    width: 100% !important;
    display: inline-block;
    object-fit: cover;
    opacity: 0.5;
}

/* .img-select-container img hover:{
width: 100% !important;
display: inline-block;
border: 1px solid black;
opacity: 0.4;

} */
.img-select .active {
    border: 1px dotted black;
    height: 50px !important;
    width: 60px !important;
}

.card-body {
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.popover-header-section {
    position: sticky;

}

.actor-name {
    color: #fff;
    font-size: 24px;
}

.fa-brands {
    padding-left: 20px;
    font-size: 24px;
    color: #fff;
}

.fa-solid {
    font-size: 24px;
    color: #fff;
}

.c-further-information p {
    color: black;
    font-size: 15px;
    font-weight: 600;
}

iframe {
    height: 100px !important;
}

.c-edit-panel__header {
    padding-bottom: 5px;
}
